In [1]:
%reload_ext nb_black

## Assignment

This data contains the results of an A/B test. Download it here: https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/ab_edited.csv.

For this analysis, do the following:

1. Check for adequate sample sizes.
* Check for changes over time in results.
* Formally test for a significant difference in conversions between treatment and control groups.

When you are finished, compare your Notebook to this one:https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/ab_testing_drill.ipynb.

In [2]:
import numpy as np
import pandas as pd

from scipy import stats
import statsmodels.api as sm

import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [3]:
data_df = pd.read_csv(
    "https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/ab_edited.csv"
)
data_df.head()

   user_id                   timestamp      group landing_page  converted
0   851104  2017-01-21 22:11:48.556739    control     old_page          0
1   804228  2017-01-12 08:01:45.159739    control     old_page          0
2   661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3   853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4   864975  2017-01-21 01:52:26.210827    control     old_page          1

In [5]:
data_df.shape

(290585, 5)

In [6]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 290585 entries, 0 to 290584
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       290585 non-null  int64
 1   timestamp     290585 non-null  object
 2   group         290585 non-null  object
 3   landing_page  290585 non-null  object
 4   converted     290585 non-null  int64
dtypes: int64(2), object(3)
memory usage: 11.1+ MB

In [7]:
data_df.describe()

             user_id      converted
count  290585.000000  290585.000000
mean   788004.825246       0.119597
std     91224.582639       0.324490
min    630000.000000       0.000000
25%    709035.000000       0.000000
50%    787995.000000       0.000000
75%    866956.000000       0.000000
max    945999.000000       1.000000